button {
    font-size: 20px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid green;
    transition-duration: 0.4s;
}
#button1 {
    position: static;
    float: right;
    background-color: white;
    color: black;
    border: 2px solid green;
}
#button1:hover {
    background-color: green;
    color: white;
}
#button2 {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid blue;
}
#button2:hover {
    background-color: blue;
    color: white;
}
#button3 {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid rgb(255, 0, 0);
}
#button3:hover {
    background-color:red;
    color: white;
}
#button4 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid grey;
}#button4:hover {
    background-color: grey;
    color: white;
}
#button5 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid black;
}
#button5:hover {
    background-color: black;
    color: white;
}